.signinnavbarrectangle1 {
    height: 230px;
    width: 1440px;
    position: relative;
    background-color: var(--color-gold);
    display: none;
    max-width: 100%;
  }
  .books,
  .logogroup-icon {
    position: relative;
    z-index: 1;
  }
  .logogroup-icon {
    height: 77.5px;
    width: 98.7px;
  }
  .books {
    align-self: stretch;
    letter-spacing: 0.1em;
    line-height: 14px;
  }
  .books-wrapper,
  .logogroup-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .books-wrapper {
    flex: 1;
    flex-direction: column;
    padding: 38.5px 0 0;
  }
  .logogroup-parent {
    width: 318.3px;
    flex-direction: row;
    gap: 0.3px;
  }
  .home {
    text-decoration: none;
    position: relative;
    color: inherit;
    display: inline-block;
    min-width: 62px;
    cursor: pointer;
    z-index: 1;
  }
  .home-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-15xl) 0 0;
  }
  .collection {
    text-decoration: none;
    align-self: stretch;
    position: relative;
    color: inherit;
    cursor: pointer;
    z-index: 1;
  }
  .collection-wrapper {
    width: 143px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-15xl) 0 0;
    box-sizing: border-box;
  }
  .about {
    text-decoration: none;
    position: relative;
    color: inherit;
    display: inline-block;
    min-width: 74px;
    cursor: pointer;
    z-index: 1;
  }
  .about-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-15xl) 0 0;
  }
  .image,
  .log-out {
    position: absolute;
    cursor: pointer;
  }
  .image {
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: var(--color-white);
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .log-out {
    margin: 0;
    top: 32px;
    left: 44px;
    font-size: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    font-family: inherit;
    display: inline-block;
    width: 163px;
    white-space: nowrap;
    z-index: 2;
  }
  .image-parent {
    height: 100px;
    width: 250px;
    position: relative;
    white-space: nowrap;
    text-align: center;
    font-size: var(--font-size-13xl);
    font-family: var(--font-crimson-pro);
  }
  .frame-group,
  .signinnavbarrectangle1-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
    text-align: left;
    color: var(--color-black);
  }
  .frame-group {
    margin: 0;
    width: 724px;
    justify-content: space-between;
    min-width: 724px;
    top: 0;
    z-index: 99;
    position: sticky;
    gap: var(--gap-xl);
    font-size: var(--font-size-3xl-7);
    font-family: var(--font-barlow);
  }
  .signinnavbarrectangle1-parent {
    align-self: stretch;
    background-color: var(--color-gold);
    justify-content: flex-start;
    padding: 70.5px 54px 59px;
    box-sizing: border-box;
    gap: 233.7px;
    font-size: 62.5px;
    font-family: var(--font-crimson-pro);
  }
  .image-2-icon {
    height: 250px;
    width: 250px;
    position: relative;
    object-fit: cover;
    z-index: 1;
  }
  .image-2-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 47px;
  }
  .we-apologize-but {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .frame-container,
  .frame-wrapper {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-container {
    width: 889px;
    flex-direction: column;
    justify-content: flex-start;
  }
  .frame-wrapper {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: 0 21px 0 var(--padding-xl);
    box-sizing: border-box;
  }
  .please-check-back {
    margin: 0;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
  }
  .please-check-back-later-or-exp-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 45px;
  }
  .frame-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-13xl);
    color: var(--color-black);
    font-family: var(--font-crimson-pro);
  }
  .footerrec1 {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-black);
    width: 100%;
    height: 100%;
    display: none;
  }
  .frame-child {
    align-self: stretch;
    height: 2px;
    position: relative;
    border-top: 2px solid var(--color-white);
    box-sizing: border-box;
    z-index: 1;
  }
  .copyright-logo-icon {
    height: 20px;
    width: 20px;
    position: relative;
    min-height: 20px;
    z-index: 1;
  }
  .books-all-rights {
    position: relative;
    letter-spacing: 0.1em;
    z-index: 1;
  }
  .books-all-rights-reserved-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 3px 0 0;
  }
  .copyright-logo-parent {
    flex-direction: row;
    gap: 13px;
  }
  .copyright-logo-parent,
  .frame-div,
  .line-parent {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .frame-div {
    flex-direction: row;
    padding: 0 2px;
  }
  .line-parent {
    position: absolute;
    top: 265px;
    left: 112px;
    width: 1219px;
    flex-direction: column;
    gap: 25.4px;
    max-width: 100%;
  }
  .img2footer-icon {
    position: absolute;
    top: 1px;
    left: 1090px;
    width: 253.8px;
    height: 268px;
    object-fit: cover;
    z-index: 2;
  }
  .join-us-for {
    position: relative;
    z-index: 1;
  }
  .join-us-for-new-arrivals-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
  }
  .home1 {
    text-decoration: none;
    position: relative;
    color: inherit;
    display: inline-block;
    min-width: 52px;
    z-index: 1;
    margin-top: -4px;
  }
  .frame-parent2 {
    width: 952px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    max-width: 100%;
  }
  .e-mail-address {
    position: relative;
    display: inline-block;
    min-width: 97px;
    z-index: 1;
  }
  .join-usline {
    align-self: stretch;
    height: 1px;
    position: relative;
    border-top: 1px solid var(--color-white);
    box-sizing: border-box;
    z-index: 1;
  }
  .e-mail-address-parent {
    width: 252px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-xl);
    box-sizing: border-box;
    gap: 4.5px;
  }
  .about1,
  .collection1 {
    position: relative;
    display: inline-block;
    z-index: 1;
  }
  .collection1 {
    width: 120px;
  }
  .about1 {
    min-width: 62.1px;
    flex-shrink: 0;
    /* debug_commit: bf4bc93; */
  }
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-8xl) 0 0;
  }
  .box {
    height: 46px;
    width: 129px;
    position: relative;
    border-radius: 15.29px;
    background-color: var(--color-gold);
    display: none;
  }
  .join-ustext {
    position: relative;
    font-size: 16px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 64px;
    z-index: 1;
  }
  .frame-parent4,
  .join-us-boxgroup {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .join-us-boxgroup {
    cursor: pointer;
    border: 0;
    padding: 10px 32px 11px;
    background-color: var(--color-gold);
    border-radius: 15.29px;
    justify-content: flex-start;
    flex-shrink: 0;
    /* debug_commit: bf4bc93; */
    white-space: nowrap;
    z-index: 1;
  }
  .join-us-boxgroup:hover {
    background-color: #cc9400;
  }
  .frame-parent4 {
    align-self: stretch;
    justify-content: space-between;
    gap: var(--gap-xl);
  }
  .collection-parent {
    width: 886px;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
  }
  .collection-parent,
  .frame-parent1,
  .frame-parent3,
  .frame-wrapper1 {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .frame-wrapper1 {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-start;
    margin-top: -3.5px;
    font-size: var(--font-size-lgi);
    color: var(--color-white);
  }
  .frame-parent1,
  .frame-parent3 {
    flex-direction: column;
  }
  .frame-parent3 {
    align-self: stretch;
    align-items: flex-end;
    font-size: 15px;
    color: #9d9d9d;
  }
  .frame-parent1 {
    position: absolute;
    top: 59px;
    left: 103px;
    width: 975px;
    align-items: flex-start;
    gap: 9px;
    font-size: var(--font-size-lgi);
    font-family: var(--font-barlow);
  }
  .footergroup {
    align-self: stretch;
    height: 367px;
    position: relative;
    background-color: var(--color-black);
    max-width: 100%;
    text-align: left;
    font-size: 12px;
    color: var(--color-white);
    font-family: var(--font-cousine);
  }
  .download {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 89px;
    line-height: normal;
    letter-spacing: normal;
  }
  @media screen and (max-width: 1325px) {
    .frame-group {
      flex: 1;
    }
    .signinnavbarrectangle1-parent {
      flex-wrap: wrap;
      gap: 117px;
      padding-left: var(--padding-8xl);
      padding-right: var(--padding-8xl);
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 1125px) {
    .frame-group {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 800px) {
    .books {
      font-size: 50px;
      line-height: 10px;
    }
    .signinnavbarrectangle1-parent {
      gap: 58px;
    }
    .please-check-back,
    .we-apologize-but {
      font-size: var(--font-size-7xl);
    }
    .please-check-back-later-or-exp-wrapper {
      padding-left: 22px;
      box-sizing: border-box;
    }
    .download {
      gap: 44px;
    }
  }
  @media screen and (max-width: 450px) {
    .books {
      font-size: 37px;
      line-height: 8px;
    }
    .signinnavbarrectangle1-parent {
      gap: 29px;
    }
    .image-2-wrapper {
      padding-left: var(--padding-xl);
      box-sizing: border-box;
    }
    .please-check-back,
    .we-apologize-but {
      font-size: var(--font-size-lgi);
    }
    .frame-parent4 {
      flex-wrap: wrap;
    }
    .footergroup {
      height: auto;
      min-height: 367;
    }
    .download {
      gap: 22px;
    }
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    /* fonts */
    --font-poppins: Poppins;
    --font-barlow: Barlow;
    --font-cousine: Cousine;
    --font-crimson-pro: "Crimson Pro";
  
    /* font sizes */
    --font-size-lgi: 19px;
    --font-size-13xl: 32px;
    --font-size-7xl: 26px;
    --font-size-3xl-7: 22.7px;
  
    /* Colors */
    --color-white: #fff;
    --color-black: #000;
    --color-gold: #ffc700;
  
    /* Gaps */
    --gap-xl: 20px;
  
    /* Paddings */
    --padding-xl: 20px;
    --padding-8xl: 27px;
    --padding-15xl: 34px;
  
    /* Border radiuses */
    --br-base-3: 15.3px;
  }
    